@media(min-width: 0px){
  .img-main__wrapper {
    margin: auto 5vw;
  }
  .img-main__wrapper {
    .img-main {
      width: 90vw;
      border-radius: 10px;
    }
  }
  .img-main__text {
    .img-main__title {
      margin: 0.8em 0;
    }
  }
  .img-main__text {
    margin: auto 5vw;
  }
  .audio-player__wrapper {
    padding: 1em 0;
  }
  .audio-player__wrapper {
    .audio-player {
      margin: auto 5vw;
    }
  }
}

@media(min-width: 1280px){
  .img-main__wrapper {
    width: 100%;
    .img-main {
      width: auto;
      max-width: 27.5vw;
      max-height: 40vw;
      border-radius: 10px;
    }
  }
  .img-main__text {
    margin: 0 50px 0 25px;
  }
  .img-main__text {
    .img-main__title {
      margin: 0 0 0.8em 0;
    }
  }
  .audio-player__wrapper {
    .audio-player {
      margin: auto 25px;
    }
  }
}